.container-view-article{
    /*background-color: red;*/
    border: 1px solid ;
    padding: 50px;
}

.container-view-article img{
    float: left;
    margin: 30px;
}

.container-view-article h1{
    text-align: center;
}



.bootstrap-tagsinput {
    width: 100%;
}

.label {
    line-height: 2 !important;
}

#fixed-loader-newest-end{
    display: none;
}

